* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: sans-serif;
}

.total_container {
  height: 50vh;
  width: 60vh;
  margin-top: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.cover_title {
  height: 25vh;
  width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song_title {
  font-size: 1.5em;
  font-family: sans-serif;
  width: 100%;
  margin-left: 60px;
}

.control_container {
  height: 25vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 70px;
}

.current_time {
  margin-left: 15px;
}

.progress_container {
  height: 8px;
  width: 275px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  border: 1px solid white;
}

.progress_bar {
  background-color: black;
  height: 100%;
  width: 0%;
  border-radius: 5px;
}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
}

h1 {
  color: whitesmoke;
  font-style: italic;
}

h2 {
  text-align: center;
}

h3 {
  text-align: right;
  margin: 7.5px;
  margin-left: auto;
}

a {
  margin: 20px;
  cursor: pointer;
  font-size: 1.125em;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.shuffle_on {
  color: #39ff14;
}
@media only screen and (max-width: 425px) {
  .progress_container {
    width: 200px;
  }
}
